@charset "UTF-8";
/* 
Document   : doc.css
Author     : Memmel
Description: Style-Layout
Credits: Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
*/

code {
padding:20px;
margin-bottom:20px
}

h1,h2 {
font-weight:700
}

h1 {
margin-top:50px
}

h2 {
margin-top:40px
}

h4 {
margin-top:30px
}

em {
    color: #800;
    font-weight: 500;
    font-style: normal;
}

.list-inline li {
font-weight:700
}

.colors {
font-size:12px;
color:#555;
margin:10px 0;
text-align:center
}

.colors span {
font-size:24px;
margin:10px 0 12px
}

#wrapper {
padding-left:0;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-o-transition:all .5s ease;
transition:all .5s ease
}

#wrapper.toggled {
padding-left:250px
}

#sidebar-wrapper {
z-index:1000;
position:fixed;
left:255px;
width:0;
height:100%;
margin-left:-255px;
overflow-y:auto;
background:#033f58;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-o-transition:all .5s ease;
transition:all .5s ease
}

#wrapper.toggled #sidebar-wrapper {
width:255px
}

#page-content-wrapper {
width:100%;
padding:15px
}

#wrapper.toggled #page-content-wrapper {
position:absolute;
margin-right:-255px
}

.sidebar-nav {
position:absolute;
top:0;
width:255px;
margin:0;
padding:0;
list-style:none
}

.sidebar-nav li {
text-indent:20px;
line-height:40px;
border-bottom: solid 1px rgba(0,0,0,0.07);
}

.sidebar-nav li:first-child {
    background-color: rgba(0,0,0,0.07);
}

.sidebar-nav li a {
display:block;
text-decoration:none;
color:#dadada;
}

.sidebar-nav li a:hover {
text-decoration:none;
color:#fff;
background:rgba(255,255,255,0.2)
}

.sidebar-nav li a:active,.sidebar-nav li a:focus {
text-decoration:none
}

.sidebar-nav > .sidebar-brand {
height:65px;
font-size:18px;
line-height:60px
}

.sidebar-nav > .sidebar-brand a {
color:#f9f9f9
}

.sidebar-nav > .sidebar-brand a:hover {
color:#fff;
background:none
}

.nav-tabs > li > a {
font-weight: bold
}

.tab-pane > code > div {
padding-left: 20px;
}

@media(min-width:768px) {
#wrapper {
padding-left:255px
}

#wrapper.toggled {
padding-left:0
}

#sidebar-wrapper {
width:255px
}

#wrapper.toggled #sidebar-wrapper {
width:0
}

#page-content-wrapper {
padding:20px
}

#wrapper.toggled #page-content-wrapper {
position:relative;
margin-right:0
}
}